<!DOCTYPE html>
<html lang='en'>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=S, initial-scale=1.0' />
    <link rel='stylesheet' href='../styles/style.css' />
    <title>Worst Stocks</title>
  </head>
  <body>
    <h1>Stocks Info</h1>
    <div class='worststockdisplay'>
      <h2>S&P 500 largest losers</h2>
        <colgroup>
          <col span='3' />
        </colgroup>
          <div class='dropmenu-content'>
            <label for='numberofstock'># of Stocks:</label>

            <form action="/" method="POST">
              <select name='numberofstockselect'>
                <option value='1' selected>1</option>
                <option value='5'>5</option>
                <option value='10'>10</option>
                <option value='50'>50</option>
                <option value='500'>All</option>
              </select>
  
              <input type="submit" value="Search"></button>
            </form>
            <div class="stockTable" style="width: 100%">
              <table id="dynamicStockTable">
                <tr>
                  <th>No.</th>
                  <th>Ticker Symbol</th>
                  <th>Current Price</th>
                  <th>% Down</th>
                </tr>
                <% for(let i = 0; i < selectValue; i++) { %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= stock[i].tickerSymbol %></td>
                    <td><%= stock[i].currentPrice %></td>
                    <td><%= stock[i].deltaPricePercentageFromHigh %></td>
                  </tr>
                  <% } %>
                </tr> 
              </table>
            </div>
          </div>
        </div>
    </div>
  </body>
  <!--<script src="client.js"></script> -->
</html>
